.env
node_modules
npm-debug.log
.git
.gitignore
.devcontainer/
.github/
.vscode/
/config
/audiobooks
/audiobooks2
/media/
/metadata
dev.js
test/
/client/.nuxt/
/client/.output/
/client/dist/
/dist/
/build/
/deploy/