.env
/dev.js
**/node_modules/
/config/
/audiobooks/
/audiobooks2/
/podcasts/
/media/
/metadata/
/plugins/
/client/.nuxt/
/client/dist/
/dist/
/deploy/
/coverage/
/.nyc_output/
/ffmpeg*
/ffprobe*
/unicode*
/libnusqlite3*

sw.*
.DS_STORE
.idea/*
tailwind.compiled.css
