.env
/dev.js
**/node_modules/
/config/
/audiobooks/
/audiobooks2/
/podcasts/
/media/
/metadata/
test/
/client/.nuxt/
/client/dist/
/dist/
/deploy/

sw.*
.DS_STORE
.idea/*
audiobookshelf/config/absdatabase.sqlite
/coverage/
/.nyc_output/
/cypress/fixtures/audiobooks/
