.logo {
  background-image: url(https://raw.githubusercontent.com/advplyr/audiobookshelf/master/client/static/Logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.watermark {
  background-image: url(https://raw.githubusercontent.com/advplyr/audiobookshelf/master/client/static/icon64.png);
  background-size: 64px 64px;
}
