/*

  This is for setting regular html styles for places where embedding HTML will be
  like podcast episode descriptions. Otherwise TailwindCSS will have stripped all default markup.

*/

.default-style p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.default-style a {
  text-decoration: none;
  color: #5985ff;
}

.default-style ul {
  display: block;
  list-style: circle;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.default-style ol {
  display: block;
  list-style: decimal;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.default-style li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.default-style li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.default-style.less-spacing p {
  margin-block-start: 0;
}

.default-style.less-spacing ul {
  margin-block-start: 0;
}

.default-style.less-spacing ol {
  margin-block-start: 0;
}

